.simulator{
    margin: 0 auto;
    position: relative;
    min-width: 1250px;
}
.simulator-title{
    font-size:1.625rem;
    margin: 3.75rem 0 2.5rem;
    line-height: 1.5;
}

.simulator-container {
    /* width: 500px;
    height: 100vh;
    margin: auto; */
    width: 100%;
    height: 84vh;
    position: relative;
}

.road-wrap{
    -webkit-perspective:160px;
    perspective:160px;
    position: absolute; 
    /* top: 50%; */
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10;
}
.road-wrap .road{
    margin-top:360px;
    -webkit-transform:rotateX(80deg);
    transform:rotateX(80deg);
    z-index: 10;
}
.road-wrap .lane-wrap{
    -webkit-animation:steer 4s linear infinite;
    animation:steer 4s linear infinite;
    z-index: 10;
}
.road-wrap .lane{
    width:25px;
    margin:auto;
    z-index: 10;
}
.road-wrap .lane>div{
    width:100%;
    margin:auto;
    margin-top:30px;
    margin-bottom:30px;
    background-color:#444;
    -webkit-animation:lane 10s linear reverse infinite;
    animation:lane 10s linear reverse infinite;
    z-index: 10;
}
.road-wrap .lane>div:nth-child(1){height:15px}
.road-wrap .lane>div:nth-child(2){height:20px}
.road-wrap .lane>div:nth-child(3){height:30px}
.road-wrap .lane>div:nth-child(4){height:50px}
.road-wrap .lane>div:nth-child(5){height:40px}
.road-wrap .lane>div:nth-child(6){height:50px}
.road-wrap .lane>div:nth-child(7){height:40px}
.road-wrap .lane>div:nth-child(8){height:50px}
.road-wrap .lane>div:nth-child(9){height:30px}
.road-wrap .lane>div:nth-child(10){height:20px}
.road-wrap .lane>div:nth-child(11){height:15px}
@-webkit-keyframes lane{
    0%{
        -webkit-transform:translateY(320px);
        transform:translateY(320px);
    }
    100%{
        -webkit-transform:translateY(-160px);
        transform:translateY(-160px);
    }
}
@keyframes lane{
    0%{
        -webkit-transform:translateY(320px);
        transform:translateY(320px) scale(.60,.60);
    }
    100%{
        -webkit-transform:translateY(-160px) scale(.80,.80);
        transform:translateY(-160px) scale(.80,.80);
    }
}

@media screen and (max-width: 768px) {
    .simulator{
      padding: 0 1rem 1.25rem;
    }
    .simulator-title{
      font-weight: 700;
      line-height: 1.3;
      font-size: 1.25rem;
      margin: 2.5rem 0 1.5rem;
    }
    .simulator-container{
      display: block;
    }
  }
